apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceest-fitness
spec:
  replicas: 3
  selector:
    matchLabels:
      app: aceest-fitness
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: aceest-fitness
    spec:
      containers:
        - name: aceest-fitness-container
          image: localhost/aceest-fitness:latest
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
